body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding: 2.5%;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/weather-backround.avif");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 0.75;
}
.form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 30vw;
  background-image: linear-gradient(#62cff4, #2c67f2);
  box-shadow: 0 2.5vh 2.5vw rgba(44, 44, 44, 0.5); 
  z-index: 1; /* to avoid being blended in the background*/
  border-radius: 5%;
}
h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
  color: azure;
  transform: translateY(-125%);
}
#main-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-form-input {
  width: 150%;
  padding: 5%;
  font-size: 16px;
  border: 3px solid #ccc;
  border-radius: 2%;
  outline: none;
  transition: border-color 0.5s;
}
.main-form-input-valid {
  border-color: #154300;
}
.main-form-input-invalid {
  border-color: #fc0000;
}
.submit-input{
  height: 5vh;
  width: 10vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
  background-color: rgb(161, 132, 132);
  color: #fff;
  transform: translateY(150%);
}
.weather-info-space{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65vh;
  width: 30vw;
  background-image: linear-gradient(#adadad, #c4c6ca9c);
  box-shadow: 0 2.5vh 2.5vw rgba(44, 44, 44, 0.5); 
  z-index: 1; /* to avoid being blended in the background*/
  border-radius: 5%;
}